* {
    font-size: 16px;
    margin: 0;
    /*padding: 0;*/
}

header{
    display:flex;
    flex-direction: row;
    background-color:whitesmoke;
    height:50px;
    margin-bottom:30px;
}

.navbar-brand {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-item{
    margin-top: auto;
    margin-bottom: auto;
    margin-left:50px;
}

.nav-item a{
    text-decoration: none;
    color: black;
}

#LastLink a{
    opacity: 0.5;
}

#GrandTitle {
    font-size:48px;
    margin-bottom:10px;
}

.text-muted{
    opacity: 0.8;
    margin-bottom:25px;
}

.box{
    display:Flex;
}

.sbox1 h4{
font-size:32px;
margin-bottom:20px;
}

.mb-3 p{
    margin-bottom:8px;
}

.mb-3 input{
    margin-bottom:16px;
}

.mb-4 p{
    margin-bottom:8px;
}

.mb-4 input{
    margin-bottom:16px;
}








.sbox2 {
    margin-left: 200px;
}

.sbox2 span{
    float:right;
    background-color:green;
    border-radius: 5px;
    margin-right:5px;
}

.sbox2 p {
    border:solid lightgrey 2px;
    margin:0;
}

.sbox2 p:nth-child(6) {
    text-align:right;
    border-width: 0;

}

.sbox2 p:nth-child(7){
    border-width: 0;
}